<kendo-combobox [data]="data" 
[disabled]="disabled" 
[filterable]="filterable"
[placeholder]="placeholder"
[textField]="textField" [valueField]="valueField"
[valuePrimitive]="valuePrimitive"
[value]="selectedObject"
[tabIndex]="tabIndex"
 [allowCustom]="allowCustom" 
 [filterable]="filterable"
 (selectionChange)="selectionChangeHandler($event)"
 (valueChange)="valueChangeHandler($event)" 
 (filterChange)="filterChangeHandler($event)"
 (ngChange)="onNgChange($event)">
               
</kendo-combobox>

<!--
<p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>-->