<div [formGroup]="form">
    <label [attr.for]="field.classPropertyName" class="col-md-2 col-sm-2 control-label">{{field.dspNm}}</label>
    <div [ngSwitch]="field.fieldControlType" class="col-md-7 col-sm-7">
        <input *ngSwitchCase="fieldControlType.Textbox" [formControlName]="field.classPropertyName" [id]="field.classPropertyName"
            [type]="field.getTextboxType()" class="form-control" 
            [style.width]="field.getTextboxWidth()" 
            [required]="field.required" [readonly]="field.readonly"/>
            is {{field.classPropertyName}} required? : {{field.required}}
        <!--field.type-->
        <textarea *ngSwitchCase="fieldControlType.Textarea" [formControlName]="field.classPropertyName" [id]="field.classPropertyName"
            class="form-control">
        </textarea>
        <div *ngSwitchCase="fieldControlType.List">
            <div [ngSwitch]="field.dataTyp">
                <div *ngSwitchCase="serverSideDataType.Boolean">
                    <tri-state-bool [fieldName]="field.classPropertyName" [disabled]="false" 
                        [initialSelection]="field.value" (selectionChange)="boolDropDownValueChanged($event)">
                    </tri-state-bool>
                </div>
                <div *ngSwitchDefault>
                    <select [id]="field.classPropertyName" [formControlName]="field.classPropertyName">
                        <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="fieldControlType.Combo">
           
                <referential-combobox [allowCustom]="true" [filterable]="true"
                [refMetadata]="field.fieldRefValueMetadata" [selectedObject]="form.controls[field.classPropertyName].value" >
                </referential-combobox>
            <p>Combo goes here</p>
        </div>

        <div *ngSwitchCase="fieldControlType.Grid">
            <p>Grid goes here </p>
        </div>
            <div class="row errorMessage invalid alert alert-danger" *ngIf="!isValid">{{field.dspNm}} is required</div>

    </div>
</div>