<div class="container">
  <!--<button
       kendoButton
       (click)="onButtonClick()"
       [primary]="true">
       My Kendo UI Button
     </button>-->
  <fdb-button (click)="onButtonClick()" [isPrimaryColorScheme]="true" 
  [buttonText]="'test'">kendo wrapper</fdb-button>
  <br />

  <fdb-dropdown [data]="listItems" [textField]="'text'"
   [valueField]="'value'" (selectionChange)="selectionChanged($event)">

  </fdb-dropdown>
  <br/>
  <br />
<p class="test-bigger-font">Angular 2 Version: {{ang2Version}}</p>
</div>
